# Python
__pycache__/
*.py[cod]

# Virtual envs
env/
venv/
.venv/
.env
ENV/
env.bak/
venv.bak/

# Packaging artifacts
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# ML training outputs
lightning_logs/
tensorboard/
wandb/
logs/

# Editors
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Custom Extra folders
saved_old_files/
test_data/
scripts/tester_script.py
scripts/tester_script2.py
metadata/train/
metadata/val/
metadata/test/
test_bbox/
test_bbox*/
old_metadata/
metadata/nifti_creation_log.jsonl
experiments/


